/* BEFORE -AFTER ve MARKER'da Content: "..." olmak zorunda   */
/*  PSEUDO CLASSLAR : BELİRTTİĞİMİZ DURUMLARDA ELEMENTİ DEĞİŞTİRİYOR.
         PSEUDO ELEMENTLER : YENİ ELEMENT EKLEMİŞ GiBİ DAVRANIR  */

p::first-letter { /* paragrafta İlk harf değişimi */

    font-size: 2rem;
    color: red;


}

p::first-line { /* İlk satırda oluşan değişimler */

    color: brown;
    font-size: 24px;

}

#webtech li::marker {

    content: "😩";
    list-style-type: square;
    color: chocolate;
    
}

#webtech li::before {

    content: "a : ";  /* before özelliğini kullanabilmek için mutlaka CONTENT özelliği olmalı aksi taktirde çalışmaz */
    display: inline-block;
    width: 20px;
    height: auto;
    background-color: blueviolet;


}

#webtech li::after {

    content: "b";  /* after özelliğini kullanabilmek için mutlaka CONTENT özelliği olmalı(Dolu-Boş) aksi taktirde çalışmaz */
    display: inline-block;
    width: 20px;
    height: auto;
    background-color: rgb(223, 23, 63);


}


.container {

    margin-inline-start: 20px;


}

.required::after { 

    content: "*";

}

p::selection{  /* Paragrafı mouse ile seçtiğimiz zaman arka plan rengini değiştirmeyi sağlıyor. */
    
    background-color: chartreuse;
    color: white;


}