@use '../abstracts' as *;

#page-home {
    header {
      .btn {
        display: inline-block;
        padding: 10px;
        border: $border-width solid #000;
        border-radius: $border-radius;
  
        &.warning {
          background-color: yellow;
  
          &:hover {
            background-color: rgb(154, 154, 1);
          }
        }
  
        &.info {
          background-color: rgb(77, 166, 255);
  
          &:hover {
            background-color: rgb(44, 121, 198);
          }
        }
      }
    }

    #actions {
      margin-top: $spacing * 2;
    }

    #btn-outside-header {
      margin-top: $spacing * 4;
    }
  }
  